!!! 5
/Haml equivalent of application.html.erb, which wraps all views by default
%html
  %head
    /makes this more human
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application' #links to assets/application.css stylesheet
    = javascript_include_tag 'application' #add javascript support
    = csrf_meta_tags #add protection against cross-site request forgery

  %body
    -# this goes just inside %body:
    -# putting the markup for flash here so don't have to replicate it in every view that needs to display such messages
    - if flash[:notice] #we use - because we don't want the value of the if expression to be placed in the view
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    = yield