-#  This file is app/views/movies/index.html.haml
%h1 All Movies
/creates the HTML ID movies (used for styling)
%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie| #iterate over the instance variable
      %tr
        /result  is substituted into HTML doc, use attribute getters on Movie objects supplied by ActiveRecord
        %td= movie.title #= syntax, conetent should be evaluate using Ruby code
        %td= movie.rating
        %td= movie.release_date
        /link_to is a helper method provided by ActionView for creating views.
        /first argument is a string that will appear as a link, second argument can be several forms, and form we used takes advanteage of the URI helper movie_path() which is shown in rake routes for the show action, which takes as its argument an instance of a RESTful resource (instance Movie) and generates the RESTful URI for the Show RESTful route for that object
        /therefore links correspond to show URI (can be seen in rake routes)
        /this could have also been written as link_to "More about #{movie.title}", movie
        %td= link_to "More about #{movie.title}", movie_path(movie)
        /take advantage of RESTful URI helper new_movie_path to create a link to the form
        /since we used new_movie_path, new controller action will be triggered if this is clicked
= link_to 'Add new movie', new_movie_path